body,
button {
  font-size: 16px;
  font-family: sans-serif;
}

sup {
  font-size: .5em;
  color: gray;
}

sup:before {
  content: '**';
}

li {
  list-style: none;
}

button {
  width: 90%;
  cursor: pointer;
  padding: 10%;
  box-sizing: border-box;
}

#test,
#emails {
  padding: 0;
}

#test .fail {
  background: #d49797;

}

#test .fail:before {
  content: '** Test FAILED, Wah Wah ** ';
  padding-bottom: 10px;
}

#test .pass {
  background: #719e71;
}

#test .pass:before {
  content: '** Test PASSED, How about a high-5! ** ';
  padding-bottom: 10px;
}

.milliseconds.pass {
  color: #719e71;
}

.milliseconds.fail {
  color: #d49797;;
}

#test .pass,
#test .fail {
  font-weight: bold;
  margin: 15px;
  color: white;
  border: 5px solid #ffffaa;
  padding: 8px;
  text-align: left;
}

.pass > p,
.fail > p {
  display: none;
}

.pass > div,
.fail > div
 {
  content: 'View Assertion Tested';
  padding: 10px 0;
  display: block;
  text-align: center;
}
